<div style="text-align: center">
  <h1>Edit this... pet?</h1>
  <form (submit)="editPet()">
      <div class="form-group">
        <label for="pet.name">Pet Name:</label>
        <input type="text" name="pet.name" required minlength="3" [(ngModel)]="pet.name" #name="ngModel">
        <label for="pet.type">Pet species:</label>
        <input type="text" name="pet.type" required minlength="3" [(ngModel)]="pet.type" #type="ngModel">
        <label for="pet.description">Description</label>
        <input type="text" name="pet.description" required minlength="3" [(ngModel)]="pet.description" #description="ngModel">
      </div>
      <h4>Skills:</h4>
      <div class="form-group">
        <label for="pet.skillOne">Skill 1:</label>
        <input type="text" name="pet.skillOne" [(ngModel)]="pet.skillOne">
        <label for="pet.skillTwo">Skill 2:</label>
        <input type="text" name="pet.skillTwo" [(ngModel)]="pet.skillTwo">
        <label for="pet.skillThree">Skill 3:</label>
        <input type="text" name="pet.skillThree" [(ngModel)]="pet.skillThree">
      </div>
      <input type="submit" [disabled]="name.errors || type.errors || description.errors" value="Edit Pet">
      <button (click)="goHome()">Cancel</button>
    </form>
    <h5  *ngIf="!name.valid"> Pet must have a name longer than 3 chars</h5>
    <h5 *ngIf="!type.valid"> Pet must be something right? perhapse a dog?</h5>
    <h5 *ngIf="!description.valid"> Describe your pet, say something good atleast</h5>
    <h5 *ngIf="duplicate">Name already exists, time to change it lol</h5>
</div>
