<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Color Picker</title>
</head>

<body style="background-color:rgb({{red}}, {{green}}, {{blue}})">
    <h1>Enter your color values below:</h1>
    <form action="/color" method="post">
        <input type="text" name="red">
        <input type="text" name="green">
        <input type="text" name="blue">
        <input type="submit" value="Show my Color!">
    </form>
</body>

</html>