<div style="text-align: center">
  <form (submit)="edit()">
    <label for="product.title">Product Title:</label>
    <input type="text" name="product.title" [(ngModel)]="updatedProduct.title" placeholder="{{ product.title }}" minlength="4" maxlength="18" #title="ngModel">
    <label for="product.price">Product Price:</label>
    <input type="number" name="product.price" [(ngModel)]="updatedProduct.price" placeholder="{{ product.price }}">
    <label for="product.imageUrl">Product Image Url:</label>
    <input type="text" name="product.imageUrl" [(ngModel)]="updatedProduct.imageUrl" placeholder="{{ product.imageUrl }}" minlength="1" #imageUrl='ngModel'>
    <input type="submit" [disabled]="title.errors" value="Submit">
    <button><a href="/product-list">Cancel</a></button>
  </form>
  <button (click)="delete()">Delete</button>
  <div style="text-align: center"  *ngIf="!title.valid ">
      <h5 *ngIf="!(title.value < 4)">first name must be atleast 4 characters</h5>
  </div>
  <div style="text-align: center" *ngIf="price.value < 0">
    <h5>Price must have postive value</h5>
  </div>
  <div style="text-align: center" *ngIf="imageUrl.errors">
    <h5>Image must have a link</h5>
  </div>
</div>
