<div class="row">
    <form class="col s12" action="quotes" method="POST">
    <div class="row">
        <div class="input-field col s6 m10">
        <input name="name" type="text" data-length="45">
        <label for="input_text">Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m10">
        <textarea name="quote" class="materialize-textarea" data-length="256"></textarea>
        <label for="textarea2">Quote</label>
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
    </div>
    </form>
</div>