<div class="row" style="text-align:center">
    <h1>Here are some awesome quotes</h1>
    @{
    @foreach (var item in @ViewBag.Quotes)
    {
        <h4>"@item["quote"]"</h4>
        <h5>-@item["name"] at @item["created"]</h5>
    }
    }   
</div>
