<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LoginOrRegistration</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Registration</h2>
    <form action="/register" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="email">Email:</label>
        <input type="email" name="email">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <lable for="Cpassword">Confirm Password:</lable>
        <input type="password" name="Cpassword">
        <label for="birthdate">Birthdate</label>
        <input type="date" name="birthdate">
        <input type="submit" value="Register">
    </form>
    <h2>Login</h2>
    <form action="/user" method="POST">
        {% csrf_token %}
        <label for="Email">Email:</label>
        <input type="email" name="Email">
        <label for="Password">Password:</label>
        <input type="password" name="Password">
        <input type="submit" value="login">
    </form>
</body>
</html>