<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Disappearing Ninja</title>
</head>

<body>
    <img src="">
    <button type="button" name="red" data-alt-src="red">red</button>
    <button type="button" name="red" data-alt-src="blue">blue</button>
    <button type="button" name="red" data-alt-src="orange">orange</button>
    <button type="button" name="red" data-alt-src="purple">purple</button>
</body>

</html>