* {
    margin: 0px;
    padding: 0px;
}

#Farm {
    margin: 0px;
}

#Cave {
    margin: 0px;
}

#House {
    margin: 0px;
}

#Casino {
    margin: 0px;
}

#Restart {
    margin: 0px;
}

#Displayinfo {
    margin: 0px;
}