<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chiraq</title>
</head>

<body>
    <h1>You're on the Bus, lets find a place to sit</h1>
    <form action="/DeathPage">
        <input type="submit" value="Sit next to little old lady">
    </form>
    <form action="/Shady">
        <input type="submit" value="Sit next to shady looking individual">
    </form>
</body>

</html>