<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chiraq</title>
</head>

<body>
    <h1>Welcome to downtown Chicago</h1>
    <p>Death Counter: {{session['count'] }}</p>
    <form action="/Alleyway">
        <input type="submit" value="Lets Check This Alleway">
    </form>
    <form action="/DeathPage">
        <input type="submit" value="Lets Check This Gangway">
    </form>
</body>

</html>