<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chiraq</title>
</head>

<body>
    <h1>You have a pleasant converstation, he suggests you visit one of two spots</h1>
    <form action="/DeathPage">
        <input type="submit" value="Check out Pilson">
    </form>
    <form action="/Logan">
        <input type="submit" value="Check out Logan Square">
    </form>
</body>

</html>