<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trip Details</title>
</head>
<body>
    <a href="/user">Home</a>
    <a href="/user/logout">Logout</a>
    <h2>{{Trip.destination}}</h2>
    <p>Planned By: {{Trip.user.name}}</p>
    <p>Description: {{Trip.description}}</p>
    <p>Travel Date From: {{Trip.travel_datefrom}}</p>
    <p>Travel Date To: {{Trip.travel_dateto}}</p>
    <h2>Other users' joining the trip</h2>
    {%for user in Trip.joined.all%}
        {%if user.id != request.session.id%}
        <h2>{{user.name}}</h2>
        {%endif%}
    {%endfor%}
</body>
</html>